@font-face {
  font-family: 'AkkuratPro-Bold';
  src: url('../fonts/AkkuratPro-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/AkkuratPro-Bold.otf')  format('opentype'),
	     url('../fonts/AkkuratPro-Bold.woff') format('woff'), url('../fonts/AkkuratPro-Bold.ttf')  format('truetype'), url('../fonts/AkkuratPro-Bold.svg#AkkuratPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}